div{
    font-size: 24px;
    background-color: rgb(255, 112, 136);
    width: 300px;
    height: 280px;
    padding: 30px;
    border-radius: 15px;
}
input{
    width: 90px;
    height: 35px;
    border-radius: 7px;
    border: none;
    font-size: 24px;
}
button{
    width: 90px;
    height: 35px;
    border-radius: 7px;
    background-color: blue;
    color: white;
    border: none;
    font-size: 24px;
}